@import 'tailwindcss';

html, body, #__next {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  position: fixed;
  inset: 0;
  touch-action: none;
}
